/*@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/roboto2.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'RobotoIE';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/roboto3.woff) format('woff');
}*/


* { margin: 0; padding: 0; font-family: 'Roboto', sans-serif; -webkit-tap-highlight-color: rgba(255,255,255,0); transition-timing-function: ease-in-out; outline: 0; }

body{
	background: #eee;
	overflow-y: scroll;
	min-width: 257px;
}
.wrapper{
	max-width: 900px;
	padding: 0 20px;
	margin: 0 auto;
}
header{
	height: 320px;
	width: 100%;
	padding-top: 50px;
	background: #2196F3;
	color: white;
	box-shadow: 0 0px 10px rgba(0,0,0,0.5);
	overflow: hidden;
	position: relative;
	z-index: 10;
	transition: height .6s .5s, padding .6s .5s;
}
header h1{
	font-size: 44px;
	line-height: 40px;
	transition: font-size .6s .5s;
}
header form{
	margin: 50px auto;
	text-align: center;
	text-transform: uppercase;
	font-size: 90%;
}
.connectionerror header form{
	animation: fly-out-to-top 1.2s forwards;
}
.cloud-off{
	text-align: center;
	display: none;
	margin-top: -210px;
}
.cloud-off h3{
	padding-bottom: 5px;
}
.cloud-off svg{
	width: 140px;
	margin: 0 auto;
}
.connectionerror .cloud-off{
	animation: connection-fly 1s .8s ease-in-out backwards;
	display: block;
}
header input[type="text"]{
	width: 300px;
	height: 20px;
	margin: 20px 0;
    line-height: 20px;
	padding: 10px 20px;
	border: 0;
	text-align: center;
	border-bottom: 2px solid white;
	background-color: rgba(255,255,255,0.7);
}
section{
	padding-top: 50px;
}
p{
	padding: 10px 0 30px;
	text-align: justify;
	line-height: 1.4em;
}

.game{
	padding:0;
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
.game > .wrapper{
	background: white;
	padding-top: 100px;
	min-height: 100%;
	padding: 0;
	box-shadow: 0 0px 5px rgba(0,0,0,0.2);
	max-width: 940px;
}
.game .scoretable{
	width: 100%;
	height: 130px;
	padding-top: 90px;
	background: #64B5F6;
	margin-bottom: 30px;
	box-shadow: 0 0px 5px rgba(0,0,0,0.3);
	position: relative;
	overflow: hidden;
	color: white;
}
.game .scoretable > div{
	float: left;
	height: 136px;
	width: calc(33% - 40px);
	padding: 0 20px;
}
.game .scoretable > div:nth-child(1){
	text-align: left;
}
.game .scoretable > div:nth-child(2){
	text-align: center;
}
.game .scoretable > div:nth-child(3){
	text-align: right;
}
.ingame .game .scoretable:after{
	content: "";
	width: 50px;
	height: 50px;
	background: rgba(255,255,255,0.1);
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -25px;
	border-radius: 50%;
	animation: ripple 1s ease-out infinite;
}

.ingame header{
	height: 40px;
	padding: 10px 0;
}
.ingame header h1{
	font-size: 22px;
}
.ingame section.main{
	animation: fly-out-to-bottom .5s forwards;
}
.ingame .game {
	animation: fly-in-from-bottom .5s 1s backwards;
	display: block;
}


.question{
	width: 530px;
	float: left;
	overflow: auto;
	position: relative;
}
.picture{
	padding: 10px;
	padding-bottom: 0;
	width: 350px;
	float: right;
	position:relative;
	z-index: 4;
}
.picture .overlay{
	position: absolute;top: 10px;
	left: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 10px);
	z-index: 5;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.picture .overlay div{
	float: left;
	background: #ddd;
	color: #9A9A9A;
    text-align: right;
    font-size: 10px;
    padding: 5px;
    cursor: pointer;
    transition: background .2s;
}
.picture .overlay div:hover{
	background: #eee;
}
.picture .overlay .erased:hover{
	cursor: default;
}
.picture .overlay .erased{
	animation: fly-out-front .5s ease-in-out forwards;
	color: transparent;
}
.picture img{
	width: calc(100% - 1px);
}

ul.answers{
	list-style-type: none;
	margin-top: 30px;
	overflow: hidden
}
ul.answers li{
	display: block;
	width: 250px;
	height: 50px;
	line-height: 50px;
	background: #FBC02D;
	color: white;
	text-align: center;
	margin: 0 15px 15px 0;
	float: left;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.24);
	transition: background-color .2s, background .4s;
	cursor: pointer;
	position: relative;
}
ul.answers li:nth-child(odd){
	animation: answers-slide-left .4s cubic-bezier(0.44, 0, 0.49, 1.32) backwards;
}
ul.answers li:nth-child(even){
	animation: answers-slide-right .4s cubic-bezier(0.44, 0, 0.49, 1.32) backwards;
}
ul.answers li:nth-child(1) { animation-delay: .1s;}
ul.answers li:nth-child(2) { animation-delay: .2s;}
ul.answers li:nth-child(3) { animation-delay: .3s;}
ul.answers li:nth-child(4) { animation-delay: .4s;}
ul.answers li:hover{
	background-color: #FDD835;
}
ul.answers li.correct{
	background: #8BC34A;
}
ul.answers li.wrong{
	background: #F44336;
}
ul.answers li.selected{
	background: #F9A825;
}
ul.answers li.my:before, ul.answers li.op:after{
	content: "";
	width: 0px;
	height: 0px;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	position: absolute;
	top: 8px;
}
ul.answers li.my:before{
	border-left: 12px solid white;
	animation: slide-from-left .5s ease-out backwards;
	left: 0;
}
ul.answers li.op:after{
	border-right: 12px solid white;
	animation: slide-from-right .5s ease-out backwards;
	right: 0;
}
    



ul.answers.selected{
	pointer-events: none;
}
.game .qwrapper{
	overflow: auto;
}
.game .form{
	clear: both;
	text-align: center;
	width: 349px;
    margin: -1px 11px 0 10px;
    float: right;
    background-color: #d4d4d4;
    box-shadow: inset 0 8px 10px -10px rgba(0,0,0,0.5);
    padding: 12px 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.game .form h3{
    padding-bottom: 7px;
}
.game .form select{
	padding: 2px 5px;
    height: 24px;
    border: 1px solid #bbb;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.game .form button{
	padding: 2px 5px;
    height: 24px;
    border: 1px solid #bbb;
    color: white;
    background: #2196F3;
    margin-left: -5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}
#pick{
	width: 100%;
	height: calc(100% - 80px);
	padding-top: 80px;
	background: rgba(255,255,255,.8);
	position: absolute;
	left:0;
	top:0;
	font-size: 20px;
	text-align: center;
	opacity: 0;
	transition: opacity .7s .5s;
	pointer-events: none;
}
ul.answers.selected.pick + #pick{
	opacity: 1;
}

.gameended > .wrapper > .wrapper{
	animation: fly-out-to-bottom .5s forwards;
}
.gameended .scoretable{
	height: 300px;
	font-size: 120%;
	transition: height .6s ease-in-out, font-size .6s ease-in-out;
}
#game.gameended .scoretable > div:nth-child(2) {
	opacity: 0;
}
.ingame .game.gameended .scoretable:after {
	animation: ripple 5s ease-out infinite !important;
}
.gameended .scoretable.win{
	background: #8BC34A;
}
.gameended .scoretable.lose{
	background: #F44336;
}
.gameended .scoretable.draft{
	background: #FDD835;
}
.gameended .scoretable:before{
	width: 100%;
	position: absolute;
	bottom: 100px;
	text-align: center;
	display: block;
	font-size: 40px;
	font-weight: bold;
	animation: fly-in-from-bottom 1s 1s ease-out backwards;
}
.gameended .scoretable.win:before{
	content: "Výhra";
}
.gameended .scoretable.lose:before{
	content: "Prohra";
}
.gameended .scoretable.draft:before{
	content: "Remíza";
}

#question span{
	font-weight: normal;
	padding-right: 10px;
	color: #666;
	font-size: 15px;
}


@media  only screen and (max-width: 960px)  {
	.question{
		padding-bottom: 50px;
	}
	.question, .picture{
		float: none;
		margin: 0 auto;
	}
}
@media  only screen and (max-width: 600px)  {
	.question,.picture{
		width: calc(100% - 20px);
		min-width: 200px;
	}
	ul.answers li{
		float: none;
		width: 100%;
		margin: 10px 0;
	}
}
@media  only screen and (max-width: 420px)  {
	.wrapper{
		padding: 0 10px;
	}
	header input[type="text"] {
    	width: calc(100% - 40px);
    }
}

@keyframes fly-out-to-bottom {
  to {
    transform: translateY(100px);
    opacity:0;
  }
}
@-webkit-keyframes fly-out-to-bottom {
  to {
    transform: translateY(100px);
    opacity:0;
  }
}

@keyframes fly-out-to-top {
  to {
    transform: translateY(-100px);
    opacity:0;
  }
}
@-webkit-keyframes fly-out-to-top {
  to {
    transform: translateY(-100px);
    opacity:0;
  }
}

@keyframes fly-in-from-bottom {
  from {
    transform:translateY(200px);
    opacity:0;
  }
}
@-webkit-keyframes fly-in-from-bottom {
  from {
    transform:translateY(200px);
    opacity:0;
  }
}

@keyframes connection-fly {
  from {
    transform:translateY(200px) rotate(30deg);
    opacity:0;
  }
}
@-webkit-keyframes connection-fly {
  from {
    transform:translateY(200px) rotate(30deg);
    opacity:0;
  }
}

@keyframes ripple {
  from {
    transform:scale(0);
    opacity:1;
  }
  to {
    transform:scale(20);
    opacity:0;
  }
}
@-webkit-keyframes ripple {
  from {
    transform:scale(0);
    opacity:1;
  }
  to {
    transform:scale(20);
    opacity:0;
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-12px);
  }
}
@-webkit-keyframes slide-from-left {
  from {
    transform: translateX(-12px);
  }
}

@keyframes answers-slide-left {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
}
@-webkit-keyframes answers-slide-left {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
}

@keyframes answers-slide-right {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
}
@-webkit-keyframes answers-slide-right {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(12px);
  }
}
@-webkit-keyframes slide-from-right {
  from {
    transform: translateX(12px);
  }
}

@keyframes fly-out-front {
  to {
    transform: scale(2) rotate(110deg);
    opacity: 0;
  }
}
@-webkit-keyframes fly-out-front {
  to {
    transform: scale(2) rotate(110deg);
    opacity: 0;
  }
}

#notifyBar{
	width: 400px;
	height: 20px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	right: 0;
	background: #ddd;
}